/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$sprite1_normal_name = 'sprite1_normal';
$sprite1_normal_x = 100px;
$sprite1_normal_y = 0px;
$sprite1_normal_offset_x = -100px;
$sprite1_normal_offset_y = 0px;
$sprite1_normal_width = 50px;
$sprite1_normal_height = 50px;
$sprite1_normal_total_width = 150px;
$sprite1_normal_total_height = 200px;
$sprite1_normal_image = 'sprite.retina.png';
$sprite1_normal = 100px 0px -100px 0px 50px 50px 150px 200px 'sprite.retina.png' 'sprite1_normal';
$sprite2_normal_name = 'sprite2_normal';
$sprite2_normal_x = 100px;
$sprite2_normal_y = 50px;
$sprite2_normal_offset_x = -100px;
$sprite2_normal_offset_y = -50px;
$sprite2_normal_width = 50px;
$sprite2_normal_height = 50px;
$sprite2_normal_total_width = 150px;
$sprite2_normal_total_height = 200px;
$sprite2_normal_image = 'sprite.retina.png';
$sprite2_normal = 100px 50px -100px -50px 50px 50px 150px 200px 'sprite.retina.png' 'sprite2_normal';
$sprite3_normal_name = 'sprite3_normal';
$sprite3_normal_x = 0px;
$sprite3_normal_y = 0px;
$sprite3_normal_offset_x = 0px;
$sprite3_normal_offset_y = 0px;
$sprite3_normal_width = 100px;
$sprite3_normal_height = 200px;
$sprite3_normal_total_width = 150px;
$sprite3_normal_total_height = 200px;
$sprite3_normal_image = 'sprite.retina.png';
$sprite3_normal = 0px 0px 0px 0px 100px 200px 150px 200px 'sprite.retina.png' 'sprite3_normal';
$spritesheet_width = 150px;
$spritesheet_height = 200px;
$spritesheet_image = 'sprite.retina.png';
$spritesheet_sprites = $sprite1_normal $sprite2_normal $sprite3_normal;
$spritesheet = 150px 200px 'sprite.retina.png' $spritesheet_sprites;
$sprite1_retina_name = 'sprite1_retina';
$sprite1_retina_x = 200px;
$sprite1_retina_y = 0px;
$sprite1_retina_offset_x = -200px;
$sprite1_retina_offset_y = 0px;
$sprite1_retina_width = 100px;
$sprite1_retina_height = 100px;
$sprite1_retina_total_width = 300px;
$sprite1_retina_total_height = 400px;
$sprite1_retina_image = 'sprite.retina-2x.png';
$sprite1_retina = 200px 0px -200px 0px 100px 100px 300px 400px 'sprite.retina-2x.png' 'sprite1_retina';
$sprite2_retina_name = 'sprite2_retina';
$sprite2_retina_x = 200px;
$sprite2_retina_y = 100px;
$sprite2_retina_offset_x = -200px;
$sprite2_retina_offset_y = -100px;
$sprite2_retina_width = 100px;
$sprite2_retina_height = 100px;
$sprite2_retina_total_width = 300px;
$sprite2_retina_total_height = 400px;
$sprite2_retina_image = 'sprite.retina-2x.png';
$sprite2_retina = 200px 100px -200px -100px 100px 100px 300px 400px 'sprite.retina-2x.png' 'sprite2_retina';
$sprite3_retina_name = 'sprite3_retina';
$sprite3_retina_x = 0px;
$sprite3_retina_y = 0px;
$sprite3_retina_offset_x = 0px;
$sprite3_retina_offset_y = 0px;
$sprite3_retina_width = 200px;
$sprite3_retina_height = 400px;
$sprite3_retina_total_width = 300px;
$sprite3_retina_total_height = 400px;
$sprite3_retina_image = 'sprite.retina-2x.png';
$sprite3_retina = 0px 0px 0px 0px 200px 400px 300px 400px 'sprite.retina-2x.png' 'sprite3_retina';
$spritesheet_retina_width = 300px;
$spritesheet_retina_height = 400px;
$spritesheet_retina_image = 'sprite.retina-2x.png';
$spritesheet_retina_sprites = $sprite1_retina $sprite2_retina $sprite3_retina;
$spritesheet_retina = 300px 400px 'sprite.retina-2x.png' $spritesheet_sprites;
$sprite1 = 'sprite1' $sprite1_normal $sprite1_retina;
$sprite2 = 'sprite2' $sprite2_normal $sprite2_retina;
$sprite3 = 'sprite3' $sprite3_normal $sprite3_retina;
$sprite_groups = $sprite1 $sprite2 $sprite3;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
Some comment about retina sprite
*/
spriteBackgroundSize($sprite) {
  background-size: $sprite[6] $sprite[7];
}

retinaSprite($sprite_group) {
  $normal_sprite = $sprite_group[1];
  $retina_sprite = $sprite_group[2];
  spriteImage($normal_sprite)
  spritePosition($normal_sprite)
  spriteWidth($normal_sprite)
  spriteHeight($normal_sprite)

  @media (abc: 2x),
         (def: 2x) {
    spriteImage($retina_sprite)
    spriteBackgroundSize($normal_sprite)
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

/*
groups notes
*/
retinaSprites($sprite_groups) {
  for $sprite_group in $sprite_groups {
    $sprite_name = $sprite_group[0];
    .{$sprite_name} {
      retinaSprite($sprite_group)
    }
  }
}
