$sprite3_x = 0;
$sprite3_y = 100;
$sprite3_width = 100;
$sprite3_height = 200;
$sprite2_x = 0;
$sprite2_y = 50;
$sprite2_width = 50;
$sprite2_height = 50;
$sprite1_x = 0;
$sprite1_y = 0;
$sprite1_width = 50;
$sprite1_height = 50;