/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$sprite1_normal_name = 'sprite1-normal';
$sprite1_normal_x = 100px;
$sprite1_normal_y = 0px;
$sprite1_normal_offset_x = -100px;
$sprite1_normal_offset_y = 0px;
$sprite1_normal_width = 50px;
$sprite1_normal_height = 50px;
$sprite1_normal_total_width = 150px;
$sprite1_normal_total_height = 200px;
$sprite1_normal_image = 'sprite.retina.png';
$sprite1_normal = 100px 0px -100px 0px 50px 50px 150px 200px 'sprite.retina.png' 'sprite1-normal';
$sprite2_normal_name = 'sprite2-normal';
$sprite2_normal_x = 100px;
$sprite2_normal_y = 50px;
$sprite2_normal_offset_x = -100px;
$sprite2_normal_offset_y = -50px;
$sprite2_normal_width = 50px;
$sprite2_normal_height = 50px;
$sprite2_normal_total_width = 150px;
$sprite2_normal_total_height = 200px;
$sprite2_normal_image = 'sprite.retina.png';
$sprite2_normal = 100px 50px -100px -50px 50px 50px 150px 200px 'sprite.retina.png' 'sprite2-normal';
$sprite3_normal_name = 'sprite3-normal';
$sprite3_normal_x = 0px;
$sprite3_normal_y = 0px;
$sprite3_normal_offset_x = 0px;
$sprite3_normal_offset_y = 0px;
$sprite3_normal_width = 100px;
$sprite3_normal_height = 200px;
$sprite3_normal_total_width = 150px;
$sprite3_normal_total_height = 200px;
$sprite3_normal_image = 'sprite.retina.png';
$sprite3_normal = 0px 0px 0px 0px 100px 200px 150px 200px 'sprite.retina.png' 'sprite3-normal';
$sprite1_2x_name = 'sprite1-2x';
$sprite1_2x_x = 200px;
$sprite1_2x_y = 0px;
$sprite1_2x_offset_x = -200px;
$sprite1_2x_offset_y = 0px;
$sprite1_2x_width = 100px;
$sprite1_2x_height = 100px;
$sprite1_2x_total_width = 300px;
$sprite1_2x_total_height = 400px;
$sprite1_2x_image = 'sprite.retina-2x.png';
$sprite1_2x = 200px 0px -200px 0px 100px 100px 300px 400px 'sprite.retina-2x.png' 'sprite1-2x';
$sprite2_2x_name = 'sprite2-2x';
$sprite2_2x_x = 200px;
$sprite2_2x_y = 100px;
$sprite2_2x_offset_x = -200px;
$sprite2_2x_offset_y = -100px;
$sprite2_2x_width = 100px;
$sprite2_2x_height = 100px;
$sprite2_2x_total_width = 300px;
$sprite2_2x_total_height = 400px;
$sprite2_2x_image = 'sprite.retina-2x.png';
$sprite2_2x = 200px 100px -200px -100px 100px 100px 300px 400px 'sprite.retina-2x.png' 'sprite2-2x';
$sprite3_2x_name = 'sprite3-2x';
$sprite3_2x_x = 0px;
$sprite3_2x_y = 0px;
$sprite3_2x_offset_x = 0px;
$sprite3_2x_offset_y = 0px;
$sprite3_2x_width = 200px;
$sprite3_2x_height = 400px;
$sprite3_2x_total_width = 300px;
$sprite3_2x_total_height = 400px;
$sprite3_2x_image = 'sprite.retina-2x.png';
$sprite3_2x = 0px 0px 0px 0px 200px 400px 300px 400px 'sprite.retina-2x.png' 'sprite3-2x';
$spritesheet_width = 150px;
$spritesheet_height = 200px;
$spritesheet_image = 'sprite.retina.png';
$spritesheet_sprites = $sprite1_normal $sprite2_normal $sprite3_normal;
$spritesheet = 150px 200px 'sprite.retina.png' $spritesheet_sprites;
$spritesheet_retina_width = 300px;
$spritesheet_retina_height = 400px;
$spritesheet_retina_image = 'sprite.retina-2x.png';
$spritesheet_retina_sprites = $sprite1_2x $sprite2_2x $sprite3_2x;
$spritesheet_retina = 300px 400px 'sprite.retina-2x.png' $spritesheet_retina_sprites;

/*
These variables are known as "retina groups", they are mappings to `normal` and `retina` sprite variables.

The list formats are intended to be used with mixins like `retinaSprite` and `retinaSprites`
*/
$sprite1_name = 'sprite1';
$sprite1 = 'sprite1' $sprite1_normal $sprite1_2x;
$sprite2_name = 'sprite2';
$sprite2 = 'sprite2' $sprite2_normal $sprite2_2x;
$sprite3_name = 'sprite3';
$sprite3 = 'sprite3' $sprite3_normal $sprite3_2x;
$retina_groups = $sprite1 $sprite2 $sprite3;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `spriteRetina` mixin is intended to be used on a "retina group".

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon_home = 'icon-home' $icon_home_normal $icon_home_retina;

.icon_home {
  retinaSprite($icon_home)
}
*/
@mixin spriteBackgroundSize($sprite) {
  background-size: $sprite[6] $sprite[7];
}

@mixin retinaSprite($retina_group) {
  $normal_sprite = $retina_group[1];
  $retina_sprite = $retina_group[2];
  sprite($normal_sprite)

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    spriteImage($retina_sprite)
    spriteBackgroundSize($normal_sprite)
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
@mixin sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

/*
The `retinaSprites` mixin generates classes for retina sprite groups

retinaSprites($retina_groups);
*/
@mixin retinaSprites($retina_groups) {
  for $retina_group in $retina_groups {
    $sprite_name = $retina_group[0];
    .{$sprite_name} {
      retinaSprite($retina_group);
    }
  }
}
