{
    "x": 0,
    "y": 0,
    "width": 50,
    "height": 50,
    "name": "sprite1",
    "source_image": "test_files/sprite1.png",
    "image": "sprite.cssFunctionTemplate.png",
    "total_width": 100,
    "total_height": 300,
    "escaped_image": "sprite.cssFunctionTemplate.png",
    "offset_x": 0,
    "offset_y": 0,
    "px": {
        "x": "0px",
        "y": "0px",
        "offset_x": "0px",
        "offset_y": "0px",
        "height": "50px",
        "width": "50px",
        "total_height": "300px",
        "total_width": "100px"
    }
}