/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
#container .sprite1 {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 50px;
  height: 50px;
}
#container .sprite2 {
  background-image: url(sprite.png);
  background-position: 0px -50px;
  width: 50px;
  height: 50px;
}
#container .sprite3 {
  background-image: url(sprite.png);
  background-position: 0px -100px;
  width: 100px;
  height: 200px;
}
