.icon-github {
  background-image: url(diagonal.png);
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-twitter {
  background-image: url(diagonal.png);
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-fork {
  background-image: url(diagonal.png);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
