.icon-github {
  background-image: url(left-right.png);
  background-position: -32px 0px;
  width: 32px;
  height: 32px;
}
.icon-twitter {
  background-image: url(left-right.png);
  background-position: -64px 0px;
  width: 32px;
  height: 32px;
}
.icon-fork {
  background-image: url(left-right.png);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
