$github_x = 32px;
$github_y = 0px;
$github_offset_x = -32px;
$github_offset_y = 0px;
$github_width = 32px;
$github_height = 32px;
$github_total_width = 64px;
$github_total_height = 64px;
$github_image = 'spritesheet.png';
$github = 32px 0px -32px 0px 32px 32px 64px 64px 'spritesheet.png';
$twitter_x = 0px;
$twitter_y = 32px;
$twitter_offset_x = 0px;
$twitter_offset_y = -32px;
$twitter_width = 32px;
$twitter_height = 32px;
$twitter_total_width = 64px;
$twitter_total_height = 64px;
$twitter_image = 'spritesheet.png';
$twitter = 0px 32px 0px -32px 32px 32px 64px 64px 'spritesheet.png';
$fork_x = 0px;
$fork_y = 0px;
$fork_offset_x = 0px;
$fork_offset_y = 0px;
$fork_width = 32px;
$fork_height = 32px;
$fork_total_width = 64px;
$fork_total_height = 64px;
$fork_image = 'spritesheet.png';
$fork = 0px 0px 0px 0px 32px 32px 64px 64px 'spritesheet.png';

spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
