.icon-fork:before {
  display: block;
  background-image: url(spritesheet.handlebarsStr.png);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-github:before {
  display: block;
  background-image: url(spritesheet.handlebarsStr.png);
  background-position: -32px 0px;
  width: 32px;
  height: 32px;
}
.icon-twitter:before {
  display: block;
  background-image: url(spritesheet.handlebarsStr.png);
  background-position: 0px -32px;
  width: 32px;
  height: 32px;
}
