.icon-github {
  background-image: url(top-down.png);
  background-position: 0px -32px;
  width: 32px;
  height: 32px;
}
.icon-twitter {
  background-image: url(top-down.png);
  background-position: 0px -64px;
  width: 32px;
  height: 32px;
}
.icon-fork {
  background-image: url(top-down.png);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
